<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>HelixPay</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>1:356234291619:ios:8f9772a47f613f8e865216</string>
				<string>com.googleusercontent.apps.1067221269816-mre12c6lhtreqsstdfnoa5vnfqltmif4</string>
				<string>codebase</string>
				<string>com.codebase</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CodePushDeploymentKey</key>
	<string>mWWCwxMKhmVXDpQ6qAS5dGI4wO069gQT8hdvP</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tel</string>
		<string>mailto</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>$(PRODUCT_NAME) sử dụng Bluetooth để tìm kiếm thiết bị xung quanh</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>$(PRODUCT_NAME) sử dụng Bluetooth để tìm kiếm thiết bị xung quanh</string>
	<key>NSCameraUsageDescription</key>
	<string>$(PRODUCT_NAME) sử dụng máy ảnh để chụp ảnh hoặc quét mã QR</string>
	<key>NSFaceIDUsageDescription</key>
	<string>$(PRODUCT_NAME) sử dụng sinh trắc học để xác thực</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) cần truy cập vào vị trí hiện tại của bạn để hiển thị hoặc ghi lại hành trình</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>$(PRODUCT_NAME) cần truy cập vào vị trí hiện tại của bạn để hiển thị hoặc ghi lại hành trình</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>$(PRODUCT_NAME) cần truy cập vào vị trí hiện tại của bạn để hiển thị hoặc ghi lại hành trình</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>$(PRODUCT_NAME) sử dụng micro để quay video</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>$(PRODUCT_NAME) cần truy cập vào thư viện ảnh để lấy hoặc lưu ảnh</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>$(PRODUCT_NAME) cần truy cập vào thư viện ảnh để lấy hoặc lưu ảnh</string>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Fontisto.ttf</string>
		<string>GoogleSans-Black.ttf</string>
		<string>GoogleSans-BlackItalic.ttf</string>
		<string>GoogleSans-Bold.ttf</string>
		<string>GoogleSans-BoldItalic.ttf</string>
		<string>GoogleSans-Italic.ttf</string>
		<string>GoogleSans-Light.ttf</string>
		<string>GoogleSans-LightItalic.ttf</string>
		<string>GoogleSans-Medium.ttf</string>
		<string>GoogleSans-MediumItalic.ttf</string>
		<string>GoogleSans-Regular.ttf</string>
		<string>GoogleSans-Thin.ttf</string>
		<string>GoogleSans-ThinItalic.ttf</string>
		<string>SpaceGrotesk-Bold.ttf</string>
		<string>SpaceGrotesk-Light.ttf</string>
		<string>SpaceGrotesk-Medium.ttf</string>
		<string>SpaceGrotesk-Regular.ttf</string>
		<string>SpaceGrotesk-SemiBold.ttf</string>
		<string>NeueHaas-Black.ttf</string>
		<string>NeueHaas-BlackItalic.ttf</string>
		<string>NeueHaas-Bold.ttf</string>
		<string>NeueHaas-BoldItalic.ttf</string>
		<string>NeueHaas-Light.ttf</string>
		<string>NeueHaas-LightItalic.ttf</string>
		<string>NeueHaas-Medium.ttf</string>
		<string>NeueHaas-MediumItalic.ttf</string>
		<string>NeueHaas-Regular.ttf</string>
		<string>NeueHaas-RegularItalic.ttf</string>
		<string>NeueHaas-Thin.ttf</string>
		<string>NeueHaas-ThinItalic.ttf</string>
		<string>Rubik-Black.ttf</string>
		<string>Rubik-BlackItalic.ttf</string>
		<string>Rubik-Bold.ttf</string>
		<string>Rubik-BoldItalic.ttf</string>
		<string>Rubik-ExtraBold.ttf</string>
		<string>Rubik-ExtraBoldItalic.ttf</string>
		<string>Rubik-Italic.ttf</string>
		<string>Rubik-Light.ttf</string>
		<string>Rubik-LightItalic.ttf</string>
		<string>Rubik-Medium.ttf</string>
		<string>Rubik-MediumItalic.ttf</string>
		<string>Rubik-Regular.ttf</string>
		<string>Rubik-SemiBold.ttf</string>
		<string>Rubik-SemiBoldItalic.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleDarkContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
